<b>Hello <%= @name %>, your age is <%= @age%></b>
Tip amount is <%= @tip %>
<%= @time %></br>
<%= "#" %></br>
<%= "your age is : #{@count}" %></br>
<%= @count.times do |num| %>
    <p><%=num %></p>


<%end%>

