<p id="notice"><%= notice %></p>

<h1>Listing Blogs</h1>

<table border="1">
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Content</th>
      <th>Publibished Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.author %></td>
        <td><%= blog.title %></td>
        <td><%= blog.content.html_safe %></td>
        <td><%= blog.published_date %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @blogs %>

<br>

<%= link_to 'New Blog', new_blog_path %>
