<p id="notice"><%= notice %></p>

<h1> Articles</h1>
<% paginate @articles %>
<table border="1">
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Published Date</th>
    <th>Published ?</th>
    <th>Content</th>
    <th>Thumbnail</th>

    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.author %></td>
        <td><%= article.published_date %></td>
        <td><%= article.published %></td>
        <td><%= article.content.html_safe %></td>
        <td><%= image_tag(article.thumbnail, height: '60', width: '60') %></td>
        <td><%= link_to 'Show', article %></td>
        <% if current_user.try(:administrator?) %>
            <td><%= link_to 'Edit', edit_article_path(article) %></td>
            <td><%= link_to 'Send Email', send_article_path(article) %></td>
            <td><%= link_to 'Destroy', article, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>


      </tr>
  <% end %>
  </tbody>
</table>

<br>
<% paginate @articles %>
<%= link_to 'New Article', new_article_path %>
