<div>
  first name: <%= @message[:first_name] %> <br>
  last name: <%= @message[:last_name] %> <br>
  email: <%= @message[:email] %> <br>
  product: <%= @message[:products] %> <br>
  question: <br>
  <p><%= @message[:question] %></p>
</div>