<h1>Page#home</h1>
<p>Find me in app/views/page/home.html.erb</p>
<div id="slider">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <div class="slider-caption">
          <h1>Delicious Meals</h1>
          <p>Donec justo dui, semper vitae aliquam euzali, ornare pretium enim. Maecenas molestie diam
            <br><br>eget tellus luctus fermentum.</p>
          <a href="single-post.html">Shop Now</a>
        </div>
        <%= image_tag("slide1.jpg", alt:"")%>
      </li>
      <li>
        <div class="slider-caption">
          <h1>Ice-cream Menus</h1>
          <p>Nulla id iaculis ligula. Vivamus mattis quam eget urna tincidunt consequat. Nullam
            <br><br>consectetur tempor neque vitae iaculis. Aliquam erat volutpat.</p>
          <a href="single-post.html">More Details</a>
        </div>
        <%= image_tag("slide2.jpg", alt:"")%>
      </li>
      <li>
        <div class="slider-caption">
          <h1>Healthy Drinks</h1>
          <p>Maecenas fermentum est ut elementum vulputate. Ut vel consequat urna. Ut aliquet
            <br><br>ornare massa, quis dapibus quam condimentum id.</p>
          <a href="single-post.html">Get Ready</a>
        </div>
        <%= image_tag("slide3.jpg", alt:"")%>
      </li>
    </ul>
  </div>
</div>


<div id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-section">
          <h2>Free Website Templates</h2>
          <%= image_tag("under-heading.png", alt:"")%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-pencil"></i>
          </div>
          <h4>Make an order</h4>
          <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-bullhorn"></i>
          </div>
          <h4>Promotions</h4>
          <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-bell"></i>
          </div>
          <h4>Ready to Serve</h4>
          <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-heart"></i>
          </div>
          <h4>Satisfaction</h4>
          <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
        </div>
      </div>
    </div>
  </div>
</div>





<div id="latest-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-section">
          <h2>Latest blog posts</h2>
          <%= image_tag("under-heading.png", alt:"") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <%= image_tag("blogpost1.jpg", alt:"" )%>
          </div>
          <div class="blog-content">
            <div class="content-show">
              <h4><a href="single-post.html">Summer Sandwich</a></h4>
              <span>29 Sep 2084</span>
            </div>
            <div class="content-hide">
              <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <%= image_tag("blogpost2.jpg", alt:"" )%>
          </div>
          <div class="blog-content">
            <div class="content-show">
              <h4><a href="single-post.html">New Great Taste</a></h4>
              <span>23 Sep 2084</span>
            </div>
            <div class="content-hide">
              <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <%= image_tag("blogpost3.jpg", alt:"" )%>
          </div>
          <div class="blog-content">
            <div class="content-show">
              <h4><a href="single-post.html">Spicy Pizza</a></h4>
              <span>14 Sep 2084</span>
            </div>
            <div class="content-hide">
              <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <%= image_tag("blogpost4.jpg", alt:"" )%>
          </div>
          <div class="blog-content">
            <div class="content-show">
              <h4><a href="single-post.html">Healthy Food</a></h4>
              <span>25 Aug 2084</span>
            </div>
            <div class="content-hide">
              <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <%= image_tag("blogpost5.jpg", alt:"" )%>
          </div>
          <div class="blog-content">
            <div class="content-show">
              <h4><a href="single-post.html">Great Breakfast</a></h4>
              <span>17 Aug 2084</span>
            </div>
            <div class="content-hide">
              <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <%= image_tag("blogpost6.jpg", alt:"" )%>
          </div>
          <div class="blog-content">
            <div class="content-show">
              <h4><a href="single-post.html">Fresh Fruit Juice</a></h4>
              <span>12 Aug 2084</span>
            </div>
            <div class="content-hide">
              <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="testimonails">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-section">
          <h2>What Customers Say</h2>
          <%= image_tag("under-heading.png", alt:"" )%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="testimonails-slider">
          <ul class="slides">
            <li>
              <div class="testimonails-content">
                <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                <h6>Jennifer - <a href="#">Chief Designer</a></h6>
              </div>
            </li>
            <li>
              <div class="testimonails-content">
                <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                <h6>Laureen - <a href="#">Marketing Executive</a></h6>
              </div>
            </li>
            <li>
              <div class="testimonails-content">
                <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                <h6>Tanya - <a href="#">Creative Director</a></h6>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>