<div id="new_product">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description.html_safe %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Sell price in dollars:</strong>
  <%= @product.sell_price %>
</p>

<p>
  <strong>Cost of product in dollars:</strong>
  <%= @product.cost_of_product %>
</p>

<p>
  <strong>Shipping weight in pounds:</strong>
  <%= @product.shipping_weight %>
</p>

<div id="image">
<p>
  <strong>Thumbnail:</strong>
  <%= image_tag(@product.thumbnail, size: "40x40") %>
</p>
</div>
<div id="image">
<p>
  <strong>Picture:</strong>
  <%= image_tag(@product.picture,size: "180x180") %>
</p>
</div>
  <% if(current_user.try(:administrator?)) %>
<%= link_to 'Edit', edit_product_path(@product) %>
      <% end %>
<%= link_to 'Back', products_path %>
</div>